[{:match-id 1
  :date #inst "2024-11-24T00:00:00.000-00:00"
  :team-colours-data {:goals 4
                      :shooting-at-railway 1
                      :players #{"Tom Brooksbank"
                                 "Mark Gawthrop"
                                 "Sam"
                                 "Tim"
                                 "Steve Rowland"
                                 "Dave Vann"
                                 "Rick Miles"
                                 "Ian Daley"}}
  :team-bibs-data {:goals 7
                   :shooting-at-railway 0
                   :players #{"Andre"
                              "Christian Halstead"
                              "Stace"
                              "Simon Wardell"
                              "Berk"
                              "Kadir"
                              "Saffet"
                              "Ryan Waters"}}}
 {:match-id 2
  :date #inst "2024-12-02T00:00:00.000-00:00"
  :team-colours-data {:goals 7
                      :shooting-at-railway 1
                      :players #{"Tom Brooksbank"
                                 "Tom Searle"
                                 "Rick Miles"
                                 "Berk"
                                 "Steve Rowland"
                                 "Mark Gawthrop"
                                 "Tim"
                                 "Richard Brown"}}
  :team-bibs-data {:goals 9
                   :shooting-at-railway 0
                   :players #{"Christian Halstead"
                              "Jonny"
                              "Saffet"
                              "Simon Wardell"
                              "Mark Burnage"
                              "John Henry Prate"
                              "Andre"
                              "Catalin Dominte"}}}
 {:match-id 3
  :date #inst "2024-12-09T00:00:00.000-00:00"
  :team-colours-data {:goals 8
                      :shooting-at-railway 1
                      :players #{"Tom Searle"
                                 "Richard Brown"
                                 "Saffet"
                                 "Callum Watson"
                                 "Andre"
                                 "Ian Daley"
                                 "John Henry Prate"
                                 "Kadir"}}
  :team-bibs-data {:goals 4
                   :shooting-at-railway 0
                   :players #{"Tom Brooksbank"
                              "Berk"
                              "Tim"
                              "Steve Rowland"
                              "Christian Halstead"
                              "Jonny"
                              "Stace"
                              "Mark Burnage"}}}
 {:match-id 4
  :date #inst "2024-12-16T00:00:00.000-00:00"
  :team-colours-data {:goals 5
                      :shooting-at-railway 1
                      :players #{"Jonny"
                                 "Tom Searle"
                                 "Andre"
                                 "Tim"
                                 "Mark Burnage"
                                 "Steve Rowland"
                                 "Stace"
                                 "Ian Daley"}}
  :team-bibs-data {:goals 4
                   :shooting-at-railway 0
                   :players #{"Tom Brooksbank"
                              "Kadir"
                              "Chris"
                              "Berk"
                              "Adam Turnbull"
                              "Sam"
                              "Richard Brown"
                              "Saffet"}}} 
 {:match-id 5
  :date #inst "2024-12-23T00:00:00.000-00:00"
  :team-colours-data {:goals 9
                      :shooting-at-railway 1
                      :players #{"Richard Brown"
                                 "Jonny"
                                 "Andre"
                                 "Kadir"
                                 "Steve Rowland"
                                 "Ian Daley"
                                ;; Stu (Ian's mate)
                                ;; Adam (Ian's mate)
                                 }}
  :team-bibs-data {:goals 8
                   :shooting-at-railway 0
                   :players #{"Tom Searle"
                              "Chris"
                              "Rick Miles"
                              "Christian Halstead"
                              "Adam Turnbull"
                              "Mark Burnage"
                              "Tim"
                              "Andy Smith"
                              }}}
 {:match-id 6
  :date #inst "2025-01-06T00:00:00.000-00:00"
  :team-colours-data {:goals 7
                      :shooting-at-railway 1
                      :players #{"Andy Smith"
                                 "Christian Halstead"
                                 "Rick Miles"
                                 "Stace"
                                 "Steve Rowland"
                                 "Mark Burnage"
                                 "Chris"
                                 "Richard Brown"}}
  :team-bibs-data {:goals 5
                   :shooting-at-railway 0
                   :players #{"Tom Brooksbank"
                              "Tom Searle"
                              "Simon Wardell"
                              "Berk"
                              "Ian Daley"
                              "Kadir"
                              "Tim"
                              "Catalin Dominte"}}}
 {:match-id 7
  :date #inst "2025-01-13T00:00:00.000-00:00"
  :team-colours-data {:goals 7
                      :shooting-at-railway 1
                      :players #{"Kadir"
                                 "Tom Brooksbank"
                                 "Christian Halstead"
                                 "Mark Burnage"
                                 "John Henry Prate"
                                 "Andy Smith"
                                 "Tom Searle"
                                 "John Black"}}
  :team-bibs-data {:goals 5
                   :shooting-at-railway 0
                   :players #{"Rick Miles"
                              "Catalin Dominte"
                              "Tim"
                              "Richard Brown"
                              "Ian Daley"
                              "Dave Vann"
                              "Stace"
                              "Steve Rowland"}}}
 {:match-id 8
  :date #inst "2025-01-20T00:00:00.000-00:00"
  :team-colours-data {:goals 7
                      :shooting-at-railway 1
                      :players #{"Tom Searle"
                                 "Berk"
                                 "Tom Brooksbank"
                                 "John Black"
                                 "Simon Wardell"
                                 "Adam Turnbull"
                                 "Gary"
                                 "Kadir"}}
  :team-bibs-data {:goals 9
                   :shooting-at-railway 0
                   :players #{"Richard Brown"
                              "Stace"
                              "Andy Smith"
                              "Chris"
                              "Mark Gray"
                              "Mark Burnage"
                              "Tim"
                              "Ian Daley"}}}
  {:match-id 9
   :date #inst "2025-01-27T00:00:00.000-00:00"
   :team-colours-data {:goals 7
                       :shooting-at-railway 0 
                       :players #{"Tom Brooksbank"
                                  "John Black"
                                  "Tim"
                                  "Richard Brown"
                                  "Catalin Dominte"
                                  "Andy Smith"
                                  "Steve Rowland"
                                  "Saffet"}}
   :team-bibs-data {:goals 5
                    :shooting-at-railway 1
                    :players #{"Andre"
                               "Berk"
                               "Chris"
                               "Gary"
                               "Zam"
                               "Kadir"
                               "Christian Halstead"
                               "Ian Daley"}}}
{:match-id 10
 :date #inst "2025-02-03T00:00:00.000-00:00"
 :team-colours-data {:goals 2
                     :shooting-at-railway 1
                     :players #{"Chris"
                                "Tom Brooksbank"
                                "Stace"
                                "Richard Brown"
                                "Daniel"
                                "Steve Rowland"
                                "Andy Smith"
                                "Tim"}}
 :team-bibs-data {:goals 4
                  :shooting-at-railway 0
                  :players #{"Tom Searle"
                             "John Black"
                             "Simon Wardell"
                             "John Henry Prate"
                             "Catalin Dominte"
                             "Dave Vann"
                             "Ian Daley"
                             "Zam"}}}
{:match-id 11
 :date #inst "2025-02-10T00:00:00.000-00:00"
 :team-colours-data {:goals 3
                     :shooting-at-railway 1
                     :players #{"Ian Daley"
                                "Catalin Dominte"
                                "Steve Rowland"
                                "Gordon"
                                "Zam"
                                "John Henry Prate"
                                "John Black"
                                "Adam Turnbull"}}
 :team-bibs-data {:goals 5
                  :shooting-at-railway 0
                  :players #{"Chris"
                             "Tom Brooksbank"
                             "Gary"
                             "Berk"
                             "Andy Smith"
                             "Mark Burnage"
                             "Saffet"
                             "Tim"}}}]